*.log
.DS_Store
node_modules
.rts2_cache_cjs
.rts2_cache_esm
.rts2_cache_umd
.rts2_cache_system
dist
temp
.cache
coverage
example/*/node_modules
*.mdb
.vscode
operators/gdocs
.yarn
assets/_private
examples/codegen
.parcel-cache

**/.claude/settings.local.json
