*.log
.DS_Store
node_modules
.rts2_cache_cjs
.rts2_cache_esm
.rts2_cache_umd
dist
temp
.cache
coverage
example/*/node_modules
*.mdb
.vscode
operators/gdocs
/.yarn/cache/
/.yarn/cache/**
/.yarn/install-state.gz
/.yarn/build-state.yml
/.yarn/unplugged/
/.yarn/unplugged/**
/.yarn/plugins/
/.yarn/plugins/**
!/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
/.yarn/releases/*
!/.yarn/releases/yarn-3.2.3.cjs
assets/_private
examples/codegen
.parcel-cache

**/.claude/settings.local.json
